# Reference: https://github.com/i3/i3/blob/next/etc/config

enable-normalization-flatten-containers = false
enable-normalization-opposite-orientation-for-nested-containers = false
start-at-login = true

after-startup-command = [
    # JankyBorders has a built-in detection of already running process,
    # so it won't be run twice on AeroSpace restart
    'exec-and-forget /usr/local/bin/borders active_color=0xffe1e3e4 inactive_color=0xff494d64 width=5.0'
]


[workspace-to-monitor-force-assignment]
1 = 'main'                            # Monitor sequence number from left to right. 1-based indexing
2 = 'main'                       # Main monitor
3 = 'main'                       # Main monitor
4 = 'main'                       # Main monitor
5 = 'main'                       # Main monitor
6 = 'main'                       # Main monitor
7 = 'main'                       # Main monitor
8 = 'main'                       # Main monitor
9 = 'built-in'                  # Non-main monitor in case when there are only two monitors
10 = 'built-in'                   # Case insensitive regex substring



[[on-window-detected]]
if.app-id = "com.spotify.client"
run = 'move-node-to-workspace 9'

[[on-window-detected]]
if.app-id = "ru.keepcoder.Telegram"
run = 'move-node-to-workspace 10'
[[on-window-detected]]
if.app-id = "com.microsoft.teams2"
run = 'move-node-to-workspace 10'
[[on-window-detected]]
if.app-id = "com.tinyspeck.slackmacgap"
run = 'move-node-to-workspace 10'
[[on-window-detected]]
if.app-id = "com.hnc.Discord"
run = 'move-node-to-workspace 10'
# TODO: same for teams, slack

[gaps]
inner.horizontal = 10
inner.vertical =   10
outer.left =       7
outer.bottom =     7
outer.top =        7
outer.right =      7

[mode.main.binding]
